<%= form_for(@kraken) do |f| %>
  <% if @kraken.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kraken.errors.count, "error") %> prohibited this kraken from being saved:</h2>

      <ul>
      <% @kraken.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
